@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/aspect-ratio";
@plugin 'daisyui' {
    themes:
        cupcake --default,
        dark --prefersdark,
        night,
        dracula,
        synthwave,
        dim,
        abyss,
        sunset;
    root: ':root';
    /* include:;
    exclude:;
    prefix:; */
    logs: true;
}
