@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/aspect-ratio";

@plugin 'daisyui' {
    themes:
        light --default,
        night --prefersdark;
    root: ':root';
    logs: true;
}
